{% render 'partials/head.liquid' %}

{%  render 'partials/header.liquid' %} 

<section class="content">
<section class="filter-navigation">

    <div class="search-bar">
        <input type="search" placeholder="zoek hier..." minlength="1400" maxlength="2100">
        <button>
            <img src="/assets/search.svg" alt="search-button" height="25px">
        </button>
    </div>
    <select class="auteur">
        <option value="auteur">auteur</option>
    </select>

    <select class="place">
        <option value="plaats">plaats</option>
    </select>

    <button class="year">jaar<img src="/assets/dropdown.svg" alt="dropdown" width="9,5px" height="6px"></button>
        <input class="range-slider" type="range">
    
    <select class="digital">
        <option value="gedititaliseerde publicaties">gedititaliseerde publicaties</option>
    </select>
</section>

<section class="book-list">

    {% for data in algemeen %}
        <article class="book-info">
            <h2 class="book-title">{{ data.title }}</h2>
            <img class="book-image" src="{{ data.asset.medium }}" alt="book-cover" loading="lazy" width="80px" height="120px"> 
            <p class="book-publisher">Uitgever {{ data.metadata.2.value.0 }}</p>
            <p class="book-year">Jaar {{ data.metadata.4.value }}</p>
            <p class="book-place">Plaats {{ data.metadata.3.value }}</p>
            <a class="book-details">boek bekijken</a>
        </article>
    {% endfor %}
</section>
</section>

{% render 'partials/footer.liquid' %}