{% render 'partials/head.liquid' %}

{%  render 'partials/header.liquid' %} 

<section class="content">
<section class="filter-navigation">

    <div class="search-bar">
        <input type="search" class="search-input" name="search" placeholder="zoek hier..." minlength="1400" maxlength="2100">
    </div>

    {% comment %} <select class="auteur">
        <option value="auteur">auteur</option>
    </select>

    <select class="place">
        <option value="plaats">plaats</option>
    </select>

    <select class="year">
        <option value="year">jaar</option>
    </select>
    
    <select class="digital">
        <option value="gedititaliseerde publicaties">gedititaliseerde publicaties</option>
    </select> {% endcomment %}
</section>

<section class="book-list">

    {% for data in algemeen %}
        <article class="book-info">
            <h2 class="book-title">{{ data.title }}</h2>
            <img class="book-image" src="{{ data.asset.medium }}" alt="book-cover" loading="lazy" width="80" height="120"> 
            <p class="book-publisher">Auteur {% assign auteur = data.metadata | find: "field", "auteur" %} {{ auteur.value }}</p>
            <p class="book-year">Jaar {% assign jaar =  data.metadata | find: "field", "jaar" %} {{ jaar.value }}</p>
            <p class="book-place">Plaats {% assign plaats = data.metadata | find: "field", "plaats_van_uitgave" %} {{ plaats.value }}</p>
            <a href="/detail/{{ data.id }}" class="book-details">boek bekijken</a>        
        </article>
    {% endfor %}
</section>
</section>

{% render 'partials/footer.liquid' %}

<script>
    
const search = document.querySelector('.search-input'),
bookRows = document.querySelectorAll('.book-info');

search.addEventListener('input', searchTable);

function searchTable() {
    bookRows.forEach( (row, i) => {
        let bookData = row.textContent.toLocaleLowerCase(),
        searchData = search.value.toLocaleLowerCase();

        row.classList.toggle('hide',bookData.indexOf(searchData) < 0); 
    } 
)};



    const bookButtons = document.querySelectorAll('.book-details');

    bookButtons.forEach(button => {

    button.addEventListener('mouseover', () => {
        button.textContent = 'klik mij!'; 
    });

    button.addEventListener('mouseout', () => {
        button.textContent = 'boek bekijken'; 
    });
});

</script>
</body>
</html>