{% render 'partials/head.liquid' %}

    <section class="detail-page">

        <nav class="detail-nav">
            <a href="/">terug</a>

            <button class="detail-info">Info</button>

            <button class="detail-reactions">Reactie</button>
        </nav>

        <section class="detail-book-info">
            <h1>informatie</h1>

            <h2>titel</h2>
            <p>{{ detail.title }}</p>

            <h2>auteur</h2>
            <p>{% assign auteur = detail.metadata | find: "field", "auteur" %} {{ auteur.value }}</p>

            <h2>jaar</h2>
            <p>{% assign jaar = detail.metadata | find: "field", "jaar" %} {{ jaar.value }}</p>

            <h2>uitgave</h2>
            <p>{% assign uitgave = detail.metadata | find: "field", "plaats_van_uitgave" %} {{ uitgave.value }}</p>

            <h2>UBN</h2>
            <p>{% assign ubn = detail.metadata | find: "field", "uniek_boek_nummer" %} {{ ubn.value }}</p>

            <h2>trefwoorden</h2>
            <p>{% assign trefwoorden = detail.metadata | find: "field", "keywords" %} {{ trefwoorden.value }}</p>

            <h2>signatuur</h2>
            <p>{% assign signatuur = detail.metadata | find: "field", "signatuur" %} {{ signatuur.value }}</p>

            <h2>opmerkingen</h2>
            <p>{% assign opmerkingen = detail.metadata | find: "field", "bijgebonden_in_bij" %} {{ opmerkingen.value }}</p>

            <h2>exemplaren</h2>
            <p>{% assign exemplaren = detail.metadata | find: "field", "aantal_exemplaren" %} {{ exemplaren.value }}</p>

            <h2>BPH State Collection shelf mark</h2>
            <p>{% assign bph = detail.metadata | find: "field", "breukleen_icn" %} {{ bph.value }}</p>

            <h2>status</h2>
            <p>{% assign status = detail.metadata | find: "field", "status" %} {{ status.value }}</p>

            <h2>om het boek te lezen moet je scrollen naar links & rechts, met de pijltjes op het toetsenbord of gebruik maken van de knoppen!</h2>
        </section>

        <section class="detail-book-reaction">
            <h1>Reacties</h1>

            <form action="/detail/{{ detail.id }}" method="POST">
                <label for="reactie">reactie</label>
                <textarea name="reaction" placeholder="vul hier je reactie in"></textarea>
                <input type="hidden" name="bookid" value="{{ detail.id }}">
                <button type="submit">reactie versturen</button>
            </form>
        </section>

        <section class="book-carrousel">
            <div class="slider-container">
                {% for asset in detail.assets %}

                    <picture>
                        <source media="(min-width: 834px)" srcset="{{ asset.large }}">
                        <img src="{{ asset.fluid }}" class="slider-image" alt="Book Image">
                    </picture>

                {% endfor %}
            </div>
        </section>
    </section>

<script>

// information 

const infoButton = document.querySelector(".detail-info");
const reaButton = document.querySelector(".detail-reactions");


infoButton.addEventListener("click", openInfo);


function openInfo() {  

  const infoNav = document.querySelector(".detail-book-info");
  const reaNav = document.querySelector(".detail-book-reaction");
  const infoButton = document.querySelector(".detail-info");
  const reaButton = document.querySelector(".detail-reactions");

  infoNav.classList.toggle("detail-book-info-open");
  reaNav.classList.remove("detail-book-reaction-open");
  infoButton.classList.toggle("detail-info-open");
  reaButton.classList.remove("detail-reactions-open");
}

reaButton.addEventListener("click", openRea);


function openRea() {  

  const reaNav = document.querySelector(".detail-book-reaction");
  const infoNav = document.querySelector(".detail-book-info");
  const infoButton = document.querySelector(".detail-info");
  const reaButton = document.querySelector(".detail-reactions");

  reaNav.classList.toggle("detail-book-reaction-open");
  infoNav.classList.remove("detail-book-info-open");
  reaButton.classList.toggle("detail-reactions-open");
  infoButton.classList.remove("detail-info-open");
}

</script>